In [1]:
# 1)

l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

a = sorted(l,key = lambda x:x[1])

print(a)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
# 2)

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


list(map(lambda x : x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# 3)

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    
tuple(map(lambda x : str(x), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
# 4) 

from functools import reduce

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

reduce(lambda x,y:x*y, l)

15511210043330985984000000

In [5]:
# 5) 

l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x:x%2 == 0 or x%3 == 0, l1))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [6]:
# 6)

l2 = ['python', 'php', 'aba', 'radar', 'level']


list(filter(lambda x:x == x[::-1],l2))

['php', 'aba', 'radar', 'level']