In [2]:
#1

percentage = int(input("Enter percentage"))

if percentage > 90:
    print("Your Grade is A")
elif percentage >80 and percentage <=90:
    print("Your Grade is B")
elif percentage >= 60 and percentage <= 80:
    print("Your Grade is C")
else:
    print("Your Grade is D")

Enter percentage 8

Your Grade is D

In [ ]:
#2
CP = int(input("Enter cost price of bike :"))

if CP > 100000:
    print("Tax = 15%")
elif CP > 50000 and CP <= 10000:
    print("Tax = 10%")
elif CP <= 50000:
    print("Tax = 5%")

Enter cost price of bike : 900000

In [1]:
#3
City = input("Enter city name :")

if City == "Delhi":
    print("Red Fort")
elif City == "Agra":
    print("Taj Mahal")
elif City == "Jaipur":
    print("Jal Mahal")
else:
    print("City detail is not available")

Enter city name : Delhi

Red Fort

In [6]:
# 4) 

n = int(input("Enter a number :"))

count = 0

while True:
    if n%3 ==0:
        n = n/3
        count = count+1
    elif n%3 != 0:
        n = n-1
    if n<=10:
        break
print(count)

Enter a number : 99

2

In [3]:
# 5) 

""" 

The while loop we can execute a set of statements as long as a condition is true.

In Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

"""

' \n\nThe while loop we can execute a set of statements as long as a condition is true.\n\nIn Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.\n\n'

In [10]:
# 6)

#1

n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *

In [11]:
# 6)

#2

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
# 6)

#3

r = int(input("enter no.of rows \n"))  # reads a no. from user
m =r  # assigns r to m
for i in range(r):  # represents the rows
	for s in range(m-1):  # represents the spaces
		print(" ",end="")
	m=m-1
	for j in range(i+1):  # represents the number of columns in every row
		print("*",end="")  # prints *
	print()  # brings the cursor to the next line

enter no.of rows
 6

     *
    **
   ***
  ****
 *****
******

In [13]:
# 7)

i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [14]:
# 8 )

i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1